# Email verification
```
email:
  enable_notifs: true
  smtp_host: "smtp.example.com"
  smtp_port: 587
  smtp_user: "example@example.com"
  smtp_pass: "password"
  require_transport_security: true
  notif_from: "Your Synapse Server <noreply@example.com>"
  app_name: Your Synapse Server

account_threepid_delegates:
  email: http://localhost:8090/_matrix/identity/v1

email:
  smtp_host: smtp.gmail.com
  smtp_port: 587
  smtp_user: "your-email@gmail.com"
  smtp_pass: "your-email-password"
  require_transport_security: true
  notif_from: "Your Synapse Server <noreply@your-domain.com>"
```

# captcha verification
```
recaptcha_public_key: "YOUR_PUBLIC_KEY"
recaptcha_private_key: "YOUR_PRIVATE_KEY"
recaptcha_siteverify_api: "https://www.google.com/recaptcha/api/siteverify"
enable_registration_captcha: true
```
# Bypassing the Check

`enable_registration_without_verification: true`
